<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87748516791-g3c7e7ff5t8d4uk40uhoqqh57ahdnf9p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87748516791-g3c7e7ff5t8d4uk40uhoqqh57ahdnf9p</string>
	<key>API_KEY</key>
	<string>AIzaSyAJcWAR-W7jijexDso73ZyMP5IJZfKQ4bQ</string>
	<key>GCM_SENDER_ID</key>
	<string>87748516791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FatimehinWillie.Opia</string>
	<key>PROJECT_ID</key>
	<string>opia715510</string>
	<key>STORAGE_BUCKET</key>
	<string>opia715510.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87748516791:ios:3a689461306e32e4</string>
	<key>DATABASE_URL</key>
	<string>https://opia715510.firebaseio.com</string>
</dict>
</plist>